.header {
  height: 70px;
  width: 100%;
  left: 0;
  top: 2.5rem;
  bottom: 2.5rem;
  position: fixed;
  padding: 1.2rem;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  backdrop-filter: 5px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.108);
}

/* Navbar sticky scroll */
.header-bg {
  border-bottom: 1px ;
  background-color: black;
  box-shadow: 0 .1rem 1rem rgb(0, 0, 0);
}

.header-bg{ 
  .nav-icons-bar{
  background-color: var(--red);
}
.nav-shop-bar{
  box-shadow: 0px 0px 8px rgb(160, 160, 160);
}
.nav-shop-text{
  color: #fff;
}
.nav-links{
  color: #fff;
}
.nav-links::after{
  background-color: #fff;
}
.nav-icons{
  color: #fff;
}
.nav-icons:hover {
  color: #d4d4d4;
}
.nav-icons-login {
  box-shadow: 0px 0px 12px rgb(185, 177, 177);
  top: 3rem;
}
.menu-c{
  color: #fff;
}
}


/* Navbar sticky scroll end */
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
  transition:  0.2s ease-in-out; 
}

.nav-links {
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  color: black;
  position: relative;
  display: inline-block;
  padding-bottom: 3px;
  transition: 0.5s;
}

.nav-links::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  border-radius: 5px;
  background-color: black;
  transform-origin: left;
  transform: scaleX(0);
  transition: width 0.3s ease, transform 0.3s ease;
}

.nav-links:hover::after {
  width: 100%;
  transform: scaleX(1);
}

.nav-icons {
  font-size: 22px;
  color: black;
  transition: 0.6s;
}

.nav-icons:hover {
  color: #4e4e4e;
}

.bg-shop{
  background-position: center;
  background-size: cover;
  background-image: url(../../../img/TRINA/back3.jpg);
}