.list-shop{
    flex: 1;
    background-color:  rgba(128, 111, 151, 0.099);
    padding: 10px;
    border-radius: 5px;
    border: solid rgba(173, 172, 172, 0.523) 1px;
    position: sticky;
    top: 110px; /* Ajuste para altura real do Header + TopHeader */
    height: 77vh;
    align-self: flex-start; /* Ajuda quando está dentro de flex container */
}

.list-shop-result{
    flex:3;
    padding: 10px;
    border: solid rgba(173, 172, 172, 0.523) 1px;
    border-radius: 5px;
}

.order{
       border: solid rgba(173, 172, 172, 0.523) 1px;
}